nav {
    background-color: #333;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  }

  .nav {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding-top: 40px;
    flex-direction: row;
    font-size: 28px;
  }
  
  li {
    display: inline;
    align-items: center;
}
